<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign in page</title>
    </head>
    <body>
        <form action="/signin" method="POST">
            <input type="text" name="username" placeholder="Enter your username" />
            <br /><br />
            <input type="text" name="password" placeholder="Enter your password" />
            <br /><br />
            <button>Sign in</button>
        </form>
    </body>
</html>