<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up page</title>
    </head>
    <body>
        <form action="/signup" method="POST">
            <input type="text" name="name" placeholder="Enter your name" />
            <br /><br />
            <input type="text" name="username" placeholder="Enter your username" />
            <br /><br />
            <input type="text" name="password" placeholder="Enter your password" />
            <br /><br />
            <input type="text" name="email" placeholder="Enter your email" />
            <br /><br />
            <button>Sign up</button>
        </form>
    </body>
</html>